.container {
    background: conic-gradient(from 111.58deg at 75.64% 50.95%, #1F79FF 0deg, #1F79FF 0.04deg, #27B1FF 93.6deg, #23FFFF 221.25deg, #00B3FF 360deg);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.img_box {
    margin: 4rem 0;
}

.button {
    width: 34.5rem;
    height: 7rem;
    background: #FFFFFF;
    border-radius: 3.8rem;
    color: #000000;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2rem;
}

.button:hover {
    background-color: #999;
    color: #FFFFFF;
}