.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttons button {
    height: 3.4rem;
    border-radius: 2.5rem;
    padding: 1rem;
    background: #EFEFEF;
}

.buttons button:hover {
    background-color: #999;
}